@{
    ViewBag.Title = "Home";
}
<style>
    .center {
        margin: auto;
        width: 60%;
        border: 3px solid;
        padding: 10px;
    }
</style>
<div class="center">
    <h2 class="tittle">Post Tittle</h2>
    <div class="body">Post content comes here</div>
    <div class="about">
        Posted on <i>1-Jul-2016</i> by <i>Daniel Petrov (Dani)</i>
    </div>
</div>
<p> </p>
<div class="center">
    <h2 class="tittle">Post Tittle</h2>
    <div class="body">Post content comes here</div>
    <div class="about">
        Posted on <i>1-Jul-2016</i> by <i>Daniel Petrov (Dani)</i>
    </div>
</div>
<p> </p>
<div class="center">
    <h2 class="tittle">Post Tittle</h2>
    <div class="body">Post content comes here</div>
    <div class="about">
        Posted on <i>1-Jul-2016</i> by <i>Daniel Petrov (Dani)</i>
    </div>
</div>
<p> </p>
<div class="center">
    <h2 class="tittle">Post Tittle</h2>
    <div class="body">Post content comes here</div>
    <div class="about">
        Posted on <i>1-Jul-2016</i> by <i>Daniel Petrov (Dani)</i>
    </div>
</div>
<p> </p>
<div class="center">
    <h2 class="tittle">Post Tittle</h2>
    <div class="body">Post content comes here</div>
    <div class="about">
        Posted on <i>1-Jul-2016</i> by <i>Daniel Petrov (Dani)</i>
    </div>
</div>
<p> </p>
<div class="center">
    <h2 class="tittle">Post Tittle</h2>
    <div class="body">Post content comes here</div>
    <div class="about">
        Posted on <i>1-Jul-2016</i> by <i>Daniel Petrov (Dani)</i>
    </div>
</div>
<p> </p>



